DS_Store
.idea
node_modules

# Compiler files
cache/
out/

# Hardhat cache
artifacts
cache_hardhat

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
